<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="A simple prescription application" />
    <meta name="author" content="Polak Das" />

    <title>Prescription Application</title>

    <!-- Custom fonts for this template-->
    <link
      th:href="@{/static/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link th:href="@{/static/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarTogglerDemo01"
        >
          <div class="">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/prescriptions}"
                  >Prescriptions</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/prescriptions/report}"
                  >Report</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  More
                </a>
                <ul class="dropdown-menu" style="overflow: hidden">
                  <li class="nav-item bg-light">
                    <a
                      class="nav-link text-bold"
                      th:href="@{/prescriptions/new}"
                      >New Prescription</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      th:href="@{/api/v1/prescription/paginated}"
                      >API(v1)</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container min-vh-100 mt-5">
      <main th:replace="${content}"></main>
    </div>

    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">
        © 2023 Copyright: Prescription app
      </div>
    </footer>

    <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
    <script
      th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"
    ></script>
    <script
      th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"
    ></script>
    <script th:src="@{/static/js/sb-admin-2.min.js}"></script>
  </body>
</html>
