<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::content})}"
>
  <head> </head>
  <body>
    <div th:fragment="content">
      <div class="row justify-content-center">
        <div class="col-10">
          <h1 class="display-4 text-center">Create new prescription</h1>
          <form
            th:action="@{/prescriptions}"
            method="post"
            th:object="${prescription}"
            enctype="application/x-www-form-urlencoded"
          >
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputPassword4">Patient Name</label>
                <small class="text-danger">*</small>
                <input
                  type="text"
                  th:field="*{patientName}"
                  class="form-control"
                  id="patientName"
                  required
                />
                <small
                  class="text-danger"
                  th:if="${#fields.hasErrors('patientName')}"
                  th:errors="*{patientName}"
                ></small>
              </div>
              <div class="form-group col-md-4">
                <label for="inputCity">Patient Age</label>
                <small class="text-danger">*</small>
                <input
                  type="number"
                  th:field="*{patientAge}"
                  class="form-control"
                  id="patientAge"
                  required
                />
                <small
                  class="text-danger"
                  th:if="${#fields.hasErrors('patientAge')}"
                  th:errors="*{patientAge}"
                ></small>
              </div>
              <div class="form-group col-md-4">
                <label for="patientGender">Patient Gender</label>
                <small class="text-danger">*</small>
                <select
                  id="patientGender"
                  class="form-control"
                  th:field="*{patientGender}"
                  required
                >
                  <option
                    th:each="gender : ${genders}"
                    th:value="${gender}"
                    th:text="${#strings.capitalize(gender.name().toLowerCase())}"
                  ></option>
                </select>
                <small
                  class="text-danger"
                  th:if="${#fields.hasErrors('patientGender')}"
                  th:errors="*{patientGender}"
                ></small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <label for="diagnosis">Diagnosis</label>
                <textarea
                  class="form-control"
                  th:field="*{diagnosis}"
                  id="diagnosis"
                  rows="6"
                  placeholder="Diagnosis name"
                >
                </textarea>
                <small
                  class="text-danger"
                  th:if="${#fields.hasErrors('diagnosis')}"
                  th:errors="*{diagnosis}"
                ></small>
              </div>
              <div class="form-group col-6">
                <label for="medicine">Medicine</label>
                <textarea
                  class="form-control"
                  id="medicine"
                  th:field="*{medicines}"
                  rows="6"
                  placeholder="Medicine name"
                >
                </textarea>
                <small
                  class="text-danger"
                  th:if="${#fields.hasErrors('medicines')}"
                  th:errors="*{medicines}"
                ></small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Prescription Date</label>
                <small class="text-danger">*</small>
                <input
                  type="date"
                  th:field="*{prescriptionDate}"
                  class="form-control"
                  id="prescriptionDate"
                  required
                />
                <small
                  class="text-danger"
                  th:if="${#fields.hasErrors('prescriptionDate')}"
                  th:errors="*{prescriptionDate}"
                ></small>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Next Visit Date</label>
                <input
                  type="date"
                  th:field="*{nextVisitDate}"
                  class="form-control"
                  id="nextVisitDate"
                />
                <small
                  class="text-danger"
                  th:if="${#fields.hasErrors('nextVisitDate')}"
                  th:errors="*{nextVisitDate}"
                ></small>
              </div>
              <script th:inline="javascript">
                var currentDate = new Date().toLocaleDateString("en-CA");
                document
                  .getElementById("prescriptionDate")
                  .setAttribute("max", currentDate);
                document
                  .getElementById("nextVisitDate")
                  .setAttribute("min", currentDate);
              </script>
            </div>
            <button type="submit" class="btn btn-primary col-12">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
