<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::content})}"
>
  <head>
    <title>My Page</title>
  </head>
  <body>
    <div th:fragment="content">
      <div class="col-12 mx-auto">
        <div class="row align-items-center mb-5">
          <div class="col-10">
            <h1 class="display-4 text-center">Prescription List</h1>
          </div>
          <div class="col-2 text-right">
            <a th:href="@{/prescriptions/new}">
              <button class="btn btn-primary">New Prescription</button>
            </a>
          </div>
        </div>
        <div class="row mb-2">
          <a th:href="@{/prescriptions(all=true)}">
            <button class="btn btn-primary btn-sm">All Prescriptions</button>
          </a>
          <!-- modal button -->
          <button
            type="button"
            class="btn btn-primary btn-sm ml-auto"
            data-toggle="modal"
            data-target="#dateRangeModal"
          >
            Select date range
          </button>
          <!-- modal -->
          <div
            class="modal fade"
            id="dateRangeModal"
            tabindex="-1"
            aria-labelledby="dateRangeModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="dateRangeModalLabel">
                    Select Date Range
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form
                    method="get"
                    th:action="@{/prescriptions/prescriptions-between-dates}"
                  >
                    <div class="row">
                      <div class="col">
                        <label for="startDate">Start Date</label>
                        <input
                          type="date"
                          name="startDate"
                          id="startDate"
                          class="form-control"
                        />
                      </div>
                      <div class="col">
                        <label for="endDate">End Date</label>
                        <input
                          type="date"
                          name="endDate"
                          id="endDate"
                          class="form-control"
                        />
                      </div>
                      <script th:inline="javascript">
                        // validation
                        var currentDate = new Date().toLocaleDateString(
                          "en-CA"
                        );

                        document
                          .getElementById("startDate")
                          .setAttribute("max", currentDate);
                        document
                          .getElementById("endDate")
                          .setAttribute("max", currentDate);

                        document
                          .getElementById("startDate")
                          .addEventListener("change", () =>
                            document
                              .getElementById("endDate")
                              .setAttribute(
                                "min",
                                document.getElementById("startDate").value
                              )
                          );
                      </script>
                    </div>
                    <div class="row mt-2 mx-0">
                      <button type="submit" class="btn btn-primary ml-auto">
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Patient Name</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Next Visit Date</th>
              <th scope="col">Medicines</th>
              <th scope="col">Diagnosis</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="prescription : ${prescriptions}">
              <td
                th:text="${#temporals.format(prescription.prescriptionDate, 'd MMMM yyyy')}"
              ></td>
              <td>
                <a
                  th:href="@{/prescriptions/{id}(id=${prescription.id})}"
                  th:text="${prescription.patientName}"
                ></a>
              </td>
              <td th:text="${prescription.patientAge}"></td>
              <td
                th:text="${#strings.capitalize(prescription.patientGender.name().toLowerCase())}"
              ></td>
              <td
                th:text="${prescription.nextVisitDate != null ? (#temporals.format(prescription.nextVisitDate, 'd MMMM yyyy')) : 'N/A'}"
              ></td>
              <td
                th:text="${prescription.medicines != null && #strings.length(prescription.medicines) > 20 ? #strings.substring(prescription.medicines, 0, 20) + '...' : prescription.medicines != null ? prescription.medicines : 'N/A'}"
              ></td>
              <td
                th:text="${prescription.diagnosis != null && #strings.length(prescription.diagnosis) > 20 ? #strings.substring(prescription.diagnosis, 0, 20) + '...' : prescription.diagnosis != null ? prescription.diagnosis : 'N/A'}"
              ></td>
              <td>
                <button type="button" class="btn btn-primary btn-sm">
                  <a
                    th:href="@{/prescriptions/{id}/edit(id=${prescription.id})}"
                    th:text="Edit"
                    class="text-white"
                  ></a>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
